.zoohome {
  width: 90vw;
  height: 90vw;
}

.individualAnimal {
  width: 45vw;
  display: inline-block;
  height: 45vw;
  text-align: center;
  text-transform: uppercase;
}

.individualAnimal img {
  width: 30vw;
  height: 30vw;
}

.Category {
  text-align: center;
  text-transform: uppercase;
}

.animalSil {
  list-style: none;
  width: 30vw;
  height: 30vw;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}

.animalSil img {
  max-width: 100%;
  max-height: 200px;
  min-height: 200px;

}

.reptile {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSrDXEsNJaPpG0PPkJg8cPHYo9l7-nFOzzoaKuKwqEjKCBRbQkc');
 background-size: cover;
}
.bird {
  background-image: url('https://i.pinimg.com/originals/eb/b6/9d/ebb69de752950092edddf0870c1f1d4c.jpg');
  background-size: cover;
}
.fish {
  background-image: url('https://i.ytimg.com/vi/P9zHeCA7EdE/maxresdefault.jpg');
  background-size: cover;
}
.mammal {
  background-image: url('http://www.conceptart.org/forums/attachment.php?attachmentid=1722801&stc=1&d=1361383652');
  background-size: cover;
}
